# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python sqlite database
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Logs
.log

# Python compiled files
*.pyc
